<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=":bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href=":fontawesome/all.min.css">
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <article class="">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <form class="woocommerce-cart-form" action="#" method="post">
                                    <table class="shop_table col-md-12 woocommerce-cart-form__contents" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="#"
                                                        class="remove" aria-label="Remove this item"
                                                        data-product_id="682" data-product_sku="">&times;</a> </td>

                                                <td class="product-thumbnail">
                                                    <a href="#"><img
                                                            width="162" height="300"
                                                            src="http://okthemes.com/villenoir/wp-content/uploads/2016/03/Red-Pinot-Noir-w-cup.png"
                                                            class="attachment-9999x300 size-9999x300" alt="" /></a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <a href="#">VillenoirPinot Noir</a> </td>
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">189,00&nbsp;<span
                                                            class="woocommerce-Price-currencySymbol">&euro;</span></span>
                                                </td>
                                                <td class="product-quantity" data-title="Quantity">
                                                    <div class="quantity">
                                                        <label class="screen-reader-text"
                                                            for="quantity_5dca22deb90f8"></label>
                                                        <input type="number" id="quantity_5dca22deb90f8"
                                                            class="input-text qty text" step="1" min="0" max=""
                                                            name="cart[08d98638c6fcd194a4b1e6992063e944][qty]" value="1"
                                                            title="Qty" size="4" inputmode="numeric" />
                                                    </div>
                                                </td>
                                                <td class="product-subtotal" data-title="Total">
                                                    <span class="woocommerce-Price-amount amount">189,00&nbsp;<span
                                                            class="woocommerce-Price-currencySymbol">&euro;</span></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="actions">
                                                    <div class="coupon">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <label for="coupon_code">Coupon code</label>
                                                            </span>
                                                            <input type="text" name="coupon_code"
                                                                class="input-text form-control" id="coupon_code"
                                                                value="" placeholder="" />
                                                            <span class="input-group-btn">
                                                                <input type="submit" class="button" name="apply_coupon"
                                                                    value="Apply" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="_wpnonce" name="_wpnonce"
                                                        value="ccaefa2a03" /><input type="hidden"
                                                        name="_wp_http_referer" value="/villenoir/cart/" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="cart-collaterals col-md-12">
                                        <div class="cross-sells">
                                            <h2>You may be interested in&hellip;</h2>
                                            <div class="row">
                                                <ul class="products">
                                                    <li class="col-xs-12 col-sm-6 col-md-6 post-686 product type-product status-publish has-post-thumbnail product_cat-white-wines member-discount discount-restricted first instock shipping-taxable purchasable product-type-simple">
                                                        <a href="#"
                                                            class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Villenoir
                                                                Riesling</h2>
                                                            <div class="gg-product-image-wrapper"><img width="1400"
                                                                    height="2225"
                                                                    src="http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Riesling-w-cup.png"
                                                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                    alt=""
                                                                    srcset="http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Riesling-w-cup.png 1400w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Riesling-w-cup-189x300.png 189w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Riesling-w-cup-768x1221.png 768w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Riesling-w-cup-644x1024.png 644w"
                                                                    sizes="(max-width: 1400px) 100vw, 1400px" /></div>
                                                        </a>
                                                        <div class="gg-product-meta-wrapper">
                                                            <dl>
                                                                <dt>
                                                                    Year
                                                                </dt>
                                                                <dd>
                                                                    <span class="year">2012</span>
                                                                </dd>
                                                                <dt>
                                                                    Price </dt>
                                                                <dd>
                                                                    <span class="price"><span
                                                                            class="woocommerce-Price-amount amount">165,00&nbsp;<span
                                                                                class="woocommerce-Price-currencySymbol">&euro;</span></span></span>
                                                                </dd>
                                                            </dl>
                                                            <a href="#" data-quantity="1"
                                                                class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                data-product_id="686" data-product_sku=""
                                                                aria-label="Add &ldquo;Villenoir Riesling&rdquo; to your cart"
                                                                rel="nofollow">Add to cart</a>
                                                        </div>
                                                    </li>
                                                    <li
                                                        class="col-xs-12 col-sm-6 col-md-6 post-684 product type-product status-publish has-post-thumbnail product_cat-white-wines member-discount discount-restricted last instock shipping-taxable purchasable product-type-simple">

                                                        <a href="#"
                                                            class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Villenoir
                                                                Chardonnay</h2>
                                                            <div class="gg-product-image-wrapper"><img width="1400"
                                                                    height="2225"
                                                                    src="http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Chardonnay-w-cup.png"
                                                                    class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                    alt=""
                                                                    srcset="http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Chardonnay-w-cup.png 1400w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Chardonnay-w-cup-189x300.png 189w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Chardonnay-w-cup-768x1221.png 768w, http://okthemes.com/villenoir/wp-content/uploads/2016/03/White-Chardonnay-w-cup-644x1024.png 644w"
                                                                    sizes="(max-width: 1400px) 100vw, 1400px" /></div>
                                                        </a>
                                                        <div class="gg-product-meta-wrapper">
                                                            <dl>
                                                                <dt>
                                                                    Year </dt>
                                                                <dd>
                                                                    <span class="year">2014</span>
                                                                </dd>

                                                                <dt>
                                                                    Price </dt>
                                                                <dd>
                                                                    <span class="price"><span
                                                                            class="woocommerce-Price-amount amount">236,00&nbsp;<span
                                                                                class="woocommerce-Price-currencySymbol">&euro;</span></span></span>
                                                                </dd>
                                                            </dl>
                                                            <a href="#" data-quantity="1"
                                                                class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                data-product_id="684" data-product_sku=""
                                                                aria-label="Add &ldquo;Villenoir Chardonnay&rdquo; to your cart"
                                                                rel="nofollow">Add to cart</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cart_totals ">
                                            <h2>Cart totals</h2>
                                            <table cellspacing="0" class="shop_table shop_table_responsive">
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td data-title="Subtotal"><span
                                                            class="woocommerce-Price-amount amount">189,00&nbsp;<span
                                                                class="woocommerce-Price-currencySymbol">&euro;</span></span>
                                                    </td>
                                                </tr>
                                                <tr class="woocommerce-shipping-totals shipping">
                                                    <th>Shipping</th>
                                                    <td data-title="Shipping">
                                                        <ul id="shipping_method" class="woocommerce-shipping-methods">
                                                            <li>
                                                                <input type="hidden" name="shipping_method[0]"
                                                                    data-index="0" id="shipping_method_0_flat_rate3"
                                                                    value="flat_rate:3" class="shipping_method" /><label
                                                                    for="shipping_method_0_flat_rate3">Flat rate: <span
                                                                        class="woocommerce-Price-amount amount">10,00&nbsp;<span
                                                                            class="woocommerce-Price-currencySymbol">&euro;</span></span></label>
                                                            </li>
                                                        </ul>
                                                        <p class="woocommerce-shipping-destination">
                                                            Shipping options will be updated during checkout. </p>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td data-title="Total"><strong><span
                                                                class="woocommerce-Price-amount amount">199,00&nbsp;<span
                                                                    class="woocommerce-Price-currencySymbol">&euro;</span></span></strong>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="wc-update-cart">
                                                <input type="submit" class="button" name="update_cart"
                                                    value="Update cart" />
                                            </div>
                                            <div class="wc-proceed-to-checkout">
                                                <a href="#"
                                                    class="checkout-button button alt wc-forward">
                                                    Proceed to checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .entry-content -->
                    </article><!-- #post -->
                </div><!-- end page container -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
</body>

</html>